bin/
ssc_work/
ssc_derby/
html/
ssc/sito/
src/xample/
src/xdemo/
src/xxmilp/
src/ssc/
src/vrp/
target/
src/test/
src/CosaDaFare.txt
src/versioni.txt
src/pl.json
.classpath
.project
.settings
dependency-reduced-pom.xml
src/vrp*/
src/org/ssclab/pl/milp/Appunti.txt